main {
    .contact-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 100px;
    }

    h2 {
        font-size: var(--text-xl-font-size);
        line-height: var(--text-xl-line-height);
        font-weight: 600;
        margin-bottom: 20px;
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    textarea {
        field-sizing: content;
        min-height: 150px;
        resize: vertical;
    }

    .submit-button {
        width: 100%;
        justify-content: center;
    }
}